<template name="userProjectPermissions">
	<div class="modal inmodal user-project-permissions">
   	<div class="modal-dialog">
   		<div class="modal-content animated fadeIn">
      		<div class="modal-header">
         		<button type="button" class="close" data-dismiss="modal">
         			<span aria-hidden="true">&times;</span>
         			<span class="sr-only">Close</span>
         		</button>
         		<h4 class="modal-title">User Projects Access</h4>
         		<h5>@mrandrade</h5>
        		</div>
        		<div class="modal-body">
      			{{>searchBar}}
					<div class="project-box">
						{{>projectPermissionsItem projectName='Projeto com nome longo'}}
						{{>projectPermissionsItem projectName='Projeto 1'}}
						{{>projectPermissionsItem projectName='Projeto com nome longo longo longo'}}
						{{>projectPermissionsItem projectName='Projeto 4'}}
					</div>
      		</div>
   		</div>
   	</div>
  </div>
</template>

<template name="projectPermissionsItem">
	<div class="project-permissions-item">
		<div class="row">
			<div class="col-xs-3 project-img">
				<img src="https://www.elektormagazine.com/assets/upload/images/43/_square/20160119140428_drone-in-flight.png_square_.jpg" alt="Project image">
			</div>
			<div class="col-xs-8 project-name">
				<h5>{{projectName}}</h5>
			</div>
			<div class="col-xs-1 close-column">
				<a href="#">
					<i class="fa fa-close fa-2x"></i>
				</a>
			</div>
		</div>
	</div>
</template>