<!-- Just creating the template that shows the dashboardStats (it's linked to the left sided navbar)-->
<template name="dashboardStatPage">
	{{>dashboardStat icon='fa fa-industry' entity='Technologies' records='300'}}
	{{>dashboardStat icon='fa fa-columns' entity='Projects' records='140'}}
	{{>dashboardStat icon='fa fa-building' entity='Organizations' records='212'}}
	{{>dashboardStat icon='fa fa-file-o' entity='Attachments' records='360'}}
</template>

<!-- Creating the dashboardStat itself -->
<template name="dashboardStat">
	{{#panelContainer class='float-e-margins dashboard-stat'}}
		{{#panelTitle}} 	
			<h1>
				<i class="{{icon}}"></i>{{entity}}
		   </h1>
		{{/panelTitle}}
		{{#panelContent}}
			<h2 class="no-margins">{{records}}</h2>
			<small>total records</small><!-- transformar em small -->
		{{/panelContent}}
	{{/panelContainer}}
</template>


<!--Pendências:
Transformar em template panel /ver como parametrizar icon dentro de outro parametro -->

