<!-- Just creating the template that shows the dashboardStats (it's linked to the left sided navbar)-->
<template name="dashboardStatPage">
	{{>dashboardStat icon='fa fa-apple' entity='Technologies' records='300'}}
	{{>dashboardStat icon='fa fa-columns' entity='Projects' records='140'}}
	{{>dashboardStat icon='fa fa-building' entity='Organizations' records='212'}}
	{{>dashboardStat icon='fa fa-file-o' entity='Attachments' records='360'}}
</template>

<!-- Creating the dashboardStat itself -->
<template name="dashboardStat">
	<div class="dashboard-stat">
		{{#panelContainer}}
			{{#panelTitle}} 	
				<h1>
					<i class="{{icon}}"></i>{{entity}}
			   </h1>
			{{/panelTitle}}
			{{#panelContent}}
				<h2 class="no-margins">{{records}}</h2>
				<h4>total records</h4><!-- transformar em small -->
			{{/panelContent}}
		{{/panelContainer}}
	</div>
</template>


<!--Pendências:
Transformar em template panel /ver como parametrizar icon dentro de outro parametro -->

