<!-- This page will contain all default minor contents that are inside other many components -->
<!-- This way, all this default components can be easily changed in only one place-->

<template name="defaultMinorComponentsPage">
	<h1>Panel</h1>
	{{#panelContainer}}
   	{{#panelTitle}} <h5>Título</h5>{{/panelTitle}}
   	{{#panelContent}}
      	<p>Conteúdo</p>
   	{{/panelContent}}
	{{/panelContainer}}

	<h1>Search Source</h1>
	{{>searchSource}}
</template>



<!-- SEARCH SOURCE-->
<template name="searchSource">
  <div class="row search-source">
    <div class="col col-sm-12">
      <div class="input-group">
        <span class="input-group-addon">
            <i class='fa fa-search'></i>
        </span>
        <input class="form-control" placeholder="Search for something..." name="search" type="text" id="search-text">
      </div>
    </div>
  </div>
  <!--<div class="row">
    <div class="col col-xs-12 metadata" align='right'>
      <i>took: <b>10ms</b>, total: <b>5</b> results</i>
      </div>
  </div>-->
</template>


<!-- PANELS -- >
	<template name="panelContainer">
	  <div class="ibox {{class}}">
	    {{ > UI.contentBlock}}
	  </div>
	</template>

	<template name="panelTitle">
	  <div class="ibox-title">
	    {{> UI.contentBlock}}
	  </div>
	</template>

	<template name="panelContent">
	   <div class="ibox-content {{class}}">
	     {{> UI.contentBlock}}
	   </div>
	</template>

