<template name="nomeDoComponente">
    <!-- isso aqui eh pra renderizar aquele header tosco, nao precisa -->
    {{> pageHeading title='Page one' }}
    <!--
    monta o componente aqui
    sacou a ideia? 
    sim
    eu deixo cada componente dentro dessa pasta page aí?
    viu
    simples
    pra cada componente eu tenho q fazer um novo link ali no router.js né?
    -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Basic form <small>Simple login form example</small></h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#">Config option 1</a>
                    </li>
                    <li><a href="#">Config option 2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
    </div>
</template>
<!-- cara, essa documentacao fala mais de estrutura do projeto
na pratica o que vc vai fazer é os eguinte
-->
