<template name="panelPage">
  {{#panelContainer}}
    {{#panelTitle}} Exemplo de título{{/panelTitle}}
    {{#panelContent panelClass='no-padding'}}
    <div style="display:flex;justify-content:flex-start;align-items:center;width:100%;height:80px;background-color:blue;">
  <div style="width:87px;height:18px;background-color:green;"></div>
</div>{{/panelContent}}
  {{/panelContainer}}
</template>

<template name="panelContainer">
  <div class="ibox float-e-margins">
    {{ > UI.contentBlock}}
  </div>
</template>

<template name="panelTitle">
  <div class="ibox-title">
    {{> UI.contentBlock}}
  </div>
</template>

<template name="panelContent">
   <div class="ibox-content {{panelClass}}">
     {{> UI.contentBlock}}
   </div>
</template>

