<template name="panelPage">
	{{#panelContainer}}
   	{{#panelTitle}} <h5>Exemplo de Título</h5>{{/panelTitle}}
   	{{#panelContent}}
      	<p>Exemplo de Conteúdo</p>
   	{{/panelContent}}
	{{/panelContainer}}
</template>



<!-- PANELS -- >
<template name="panelContainer">
  <div class="ibox {{class}}">
    {{ > UI.contentBlock}}
  </div>
</template>

<template name="panelTitle">
  <div class="ibox-title">
    {{> UI.contentBlock}}
  </div>
</template>

<template name="panelContent">
   <div class="ibox-content {{class}}">
     {{> UI.contentBlock}}
   </div>
</template>

