<!-- Just creating the template that shows the recentUpdates (it's linked to the left sided navbar)-->
<template name="recentUpdatesPage">
	{{>recentUpdates}}
</template>

<!-- Creating the recentUpdates itself -->
<template name="recentUpdates">
   <div class="recentUpdates">
   	<div class="ibox float-e-margins">
   		<div class="ibox-title">
   			<h5>Recent Updates</h5>	
   		</div>
   		<div class="ibox-content no-padding">
   			<ul class="list-group">
					<!-- What must to be done is to configure that each element within this ul list will be a li .list-group-item and inside this li we set each parameter -->
					<li class="list-group-item">
						<i class="fa fa-building"></i>
						<p><a class="text-info" href="#">@mrandrade</a> created a new description for <a class="text-info" href="#">@drones</a> at 13/01/2016</p>
					</li>
					<li class="list-group-item">
						<i class="fa fa-codepen"></i>
						<p><a class="text-info" href="#">@mrandrade</a> created a new description for <a class="text-info" href="#">@drones</a> at 13/01/2016</p>					</li>
					<li class="list-group-item">
						<i class="fa fa-database"></i>
						<p><a class="text-info" href="#">@mrandrade</a> created a new description for <a class="text-info" href="#">@drones</a> at 13/01/2016</p>
					</li>
					<li class="list-group-item ">
						<i class="fa fa-empire"></i>
						<p><a class="text-info" href="#">@mrandrade</a> created a new description for <a class="text-info" href="#">@drones</a> at 13/01/2016</p>
					</li>
         	</ul>
   		</div>
   	</div> 
   </div>
</template>