<template name="recentUpdatesPage">
	{{>recentUpdates}}
</template>

<template name="recentUpdates">
   <div class="recent-updates">
   	{{#panelContainer}}
   		{{#panelTitle}}
				<h1>Recent Updates</h1>
   		{{/panelTitle}}
	   	{{#panelContent panelClass='no-padding'}}
				<ul class="list-group">
					{{>recentUpdatesItem color='info' icon='fa fa-empire' username='mrandrade' description='mandou um salve lá no ' docName='drones' createdAt='13/05/2016'}}
					<li class="list-group-item">
						<a class="text-info" href="#">
							<p>View more..</p>
						</a>
						<a class="text-info" href="#">
							<p>View less</p>
						</a>
					</li>
	      	</ul>
	   	{{/panelContent}}
   	{{/panelContainer}}
   </div>
</template>

<template name="recentUpdatesItem">
	<li class="list-group-item">
		<button class='btn btn-{{color}} icon-holder'>
	   	<i class="{{icon}}"></i>
		</button>
		<p>
			<a class="text-info" href="#">@{{username}}</a>
				{{description}} 
	      <a class="text-info" href="#">@{{docName}}</a>
	      <div class='date'>
	        {{createdAt}}
	      </div>      
		</p>
	</li>
</template>

<!-- Pendências:
refazer o recentUpdatesItem 

PADRONIZAR OS Hx DE TODOS OS DOCUMENTOS-->