<template name="searchAttachmentsContainerPage">
	{{>searchAttachmentsContainer}}
</template>

<template name="searchAttachmentsContainer">
	<div class="row search-attachments-container">
		<div class="col-sm-4 col-md-4">
			{{>attachmentAboutBox
				icon='fa fa-file'
				attachmentName='Attachment File.png'
				img='http://mdemaria.biz/img/fotos/imagens%20paisagem%201.jpg'
				description='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum nesciunt, quis ipsam dolores'
				uploadDate='13/02/2016'
				}}
		</div>
		<div class="col-sm-8 col-md-8">

			<!-- I'm just putting this code below and not calling searchContainer template cause the gridView on searchAttachmentsContainer gonna have different settings,
			but after all this is setted to work intelligently, just calling the searchContainer template directly will work just fine.-->

			{{#panelContainer class='search-container'}}
				{{#panelContent}}
				{{>searchSourceSearchToggle}}
					
					<!-- Hereafter this will be just a gridView template-->
					<div class="grid-view">
						<div class="row">
							<div class="col-xs-6 col-md-4">
								{{>attachmentThumbnail 
									img='http://wallpaper.ultradownloads.com.br/73323_Papel-de-Parede-Paisagem-azul_1440x900.jpg'
									icon='fa fa-file'
									attachmentTitle='Attachment Title'}}
							</div>
							<div class="col-xs-6 col-md-4">
								{{>attachmentThumbnail 
									img='http://wallpaper.ultradownloads.com.br/73323_Papel-de-Parede-Paisagem-azul_1440x900.jpg'
									icon='fa fa-file'
									attachmentTitle='Attachment Title'}}
							</div>
							<div class="col-xs-6 col-md-4">
								{{>attachmentThumbnail 
									img='http://wallpaper.ultradownloads.com.br/73323_Papel-de-Parede-Paisagem-azul_1440x900.jpg'
									icon='fa fa-file'
									attachmentTitle='Attachment Title'}}
							</div>
							<div class="col-xs-6 col-md-4">
								{{>attachmentThumbnail 
									img='http://wallpaper.ultradownloads.com.br/73323_Papel-de-Parede-Paisagem-azul_1440x900.jpg'
									icon='fa fa-file'
									attachmentTitle='Attachment Title'}}
							</div>
							<div class="col-xs-6 col-md-4">
								{{>attachmentThumbnail 
									img='http://wallpaper.ultradownloads.com.br/73323_Papel-de-Parede-Paisagem-azul_1440x900.jpg'
									icon='fa fa-file'
									attachmentTitle='Attachment Title'}}
							</div>
							<div class="col-xs-6 col-md-4">
								{{>attachmentThumbnail 
									img='http://wallpaper.ultradownloads.com.br/73323_Papel-de-Parede-Paisagem-azul_1440x900.jpg'
									icon='fa fa-file'
									attachmentTitle='Attachment Title'}}
							</div>
							<div class="col-xs-6 col-md-4">
								{{>attachmentThumbnail 
									img='http://wallpaper.ultradownloads.com.br/73323_Papel-de-Parede-Paisagem-azul_1440x900.jpg'
									icon='fa fa-file'
									attachmentTitle='Attachment Title'}}
							</div>
							<div class="col-xs-6 col-md-4">
								{{>attachmentThumbnail 
									img='http://wallpaper.ultradownloads.com.br/73323_Papel-de-Parede-Paisagem-azul_1440x900.jpg'
									icon='fa fa-file'
									attachmentTitle='Attachment Title'}}
							</div>
						</div>
					</div>
				{{/panelContent}}
			{{/panelContainer}}
		</div>
	</div>
</template>