<template name="searchContainerPage">
	{{>searchContainer}}
</template>

<template name="searchContainer">
	{{#panelContainer class='search-container'}}
		{{#panelContent}}
			<div class="row">
				<div class="col-xs-9 col-sm-10 col-lg-11 search-column">
					{{>searchBar}}
				</div>
				<div class="col-xs-3 col-sm-2 col-lg-1 view-options">
					<button class="btn btn-default" type="button">
						<i class="fa fa-list"></i>
					</button>
					<button class="btn btn-default" type="button">
						<i class="fa fa-th"></i>
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					
				</div>
			</div>
		{{/panelContent}}
	{{/panelContainer}}
</template>

<template name="tableView">
	
</template>

<template name="gridView">
	
</template>

