<template name="searchAttachmentsContainer">
	<div class="row">
		<div class="col-lg-8">
			
		</div>
		<div class="col-lg-4">
			{{>changeTab}}
			{{>attachmentAboutBox
				icon='fa fa-file'
				attachmentName='Attachment File.png'
				img='http://mdemaria.biz/img/fotos/imagens%20paisagem%201.jpg'
				description='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum nesciunt, quis ipsam dolores dignissimos incidunt hic molestias nulla. Laborum ipsa ipsum, delectus recusandae reprehenderit nesciunt? Assumenda, explicabo, voluptatibus. Asperiores, corporis?'
				uploadDate='13/02/2016'
				}}
			}
		</div>
	</div>
</template>

<template name="changeTab">
<div class="ibox-content">
	<div class="change-tab">
		<div class="btn-group">
			<button class="btn btn-default" type="button">Information</button>
			<button class="btn btn-default" type="button">Recent Updates</button>
		</div>
	</div>
</div>
</template>