.manage-user-role {

	.search-source {
		margin-bottom: @search-source-margin-bottom-modal;
	}

	.table {
		margin-bottom: 0;
	}

	.manage-user-role-item {

		.modal-item;

		/*This is assuming that the 2nd td is the name column*/
   	td:nth-child(2) {
      	text-align: center;
   	}

		img {
			width: @img-size-manage-user-role-item;
			height: @img-size-manage-user-role-item;
		}
	}

}


