.user-project-permissions {
	.modal-header {
		padding-bottom: 0; /*Letting the spacing in bottom for the h5 (user name)*/

		h5 {
			font-size: 17px;
			margin: 15px 0;
		}
	}

	/*Div that holds .project-permissions-item's */
	.project-box {
		padding: 15px 0;
	}

	.project-permissions-item {
		padding: 15px;
		border-bottom: 1px solid #ddd;

		&:last-of-type {
			border-bottom: none;
		}

		&:last-child {
			padding-bottom: 0; /*Just to not accumulate padding*/
		}

		.row {
			/*.project-permissions-item hold rows that hold columns, so it must has flex to align properly*/
			.flex;
			.y-center-flex;
		}

		/*This class is the respective column that holds the image project*/
		.project-img {
			.inline-flex;
			.x-center-flex;
			.y-center-flex;

			img {
				border-radius: 10px;
				width: @img-size-project-permissions;
				height: @img-size-project-permissions;
			}
		}

		/*This class is the respective column that holds the project name*/
		.project-name {
			.inline-flex;
			.y-center-flex;
		}

		h5 {
			font-size: 14px;
			margin: 0; /*Margin was misaligning*/
		}

		/*This class is the respective column that holds the close icon*/
		.close-column {
			.inline-flex;
			.y-center-flex;
			.x-right-flex;

			a {
				color: inherit;
			}
		}

	}
}