/*The .simpleListItem simply holds a .feed-element */
.simpleListItem {
	list-style-type: none;
	border-bottom: 1px solid #ddd; /*Tried to @border-color but just fits well with white bg-color*/

	&:last-of-type {
		border-bottom: none;
	}	

	h5 {
		font-size: 14px;
		font-weight: 600;
		margin-bottom: 7px;
	}

	p {
		margin: 0; /*Leaving the padding/margin stuff for the .feed-element, since it has flex */
	}

	.feed-element{
		.flex;
		padding: 10px;

		/*Applying these settings, so the image remains small, even if not a img with .img-circle class*/
		img {
			width: @img-simple-list-item;
			height: @img-simple-list-item;
		}
	}
}

