.user-about-box {
	/*Settins for the animation on Update Profile Picture*/
	.profile-photo {
		position: relative;
	}
	
	.update-picture {
		.flex;
		.y-center-flex;
		position: absolute;

		bottom:0;
		padding: 10px;
		opacity: 0.7;

		a {
			color: #fff;
			font-weight: 600;
			display: none;
		}

	}

	i#update-picture-icon {
		color: @update-picture-icon-color-user-about-box;
		margin-right: 10px;
	}

	/*Settings for the data list*/
	.about-box;
}