.profile-photo {
	position: relative;
	a {
		position: absolute;
		bottom: 0;
  	right: 0;

		color: inherit;
	}
}

/*ajustando espaçamento e margem dos itens de lista*/
.user-card {
	min-width: 300px;
	ul {
		padding: 0;
		margin-bottom: 0;
	}
	li {
		margin-bottom: 5px;
	}
	li:last-child {
		margin-bottom: 0;
	}
}

/*Pendências: 
alinhamento do ícone com a foto
tamanho do icone com relação a imagem
tamanho da fonte
alinhamento dados/icones (contatos)
ver se é viável transformar em tabela
verificar se é possivel setar uma width minima, pra nao quebrar o layout com dados mt longos*/