<template name="navigation">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <!-- Close canvas menu used only on OffCanvas page -->
            <!-- You can remove this tag if you dont use offCanvas menu -->
            <a class="close-canvas-menu"><i class="fa fa-times"></i></a>
            <!-- End offCanvas menu toggle -->
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="profile-element">
                        <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Lista de componentes</strong></span></span>    
                    </div>
                    <div class="logo-element">
                         ( ͡° ͜ʖ ͡°)
                    </div>
                </li>
            
                {{> menuItem regex='attachment-about-box' route='attachment-about-box' name='Attachment About Box'}}
                {{> menuItem regex='attachment-dashboard' route='attachment-dashboard' name='Attachment Dashboard'}}
                {{> menuItem regex='attachment-thumbnail' route='attachment-thumbnail' name='Attachment Thumbnail'}}
                {{> menuItem regex='brief-card' route='brief-card' name='Brief Card'}}              
                {{> menuItem regex='dashboard-stat' route='dashboard-stat' name='Dashboard Stat'}}
                {{> menuItem regex='default-minor-components' route='default-minor-components' name='Default Minor Components'}}
                {{> menuItem regex='elastic-search' route='elastic-search' name='Elastic Search'}}
                {{> menuItem regex='main-dashboard' route='main-dashboard' name='Main Dashboard'}}
                {{> menuItem regex='modals' route='modals' name='Modals'}}
                {{> menuItem regex='org-about-box' route='org-about-box' name='Org About Box'}}
                {{> menuItem regex='org-dashboard' route='org-dashboard' name='Org Dashboard'}}
                {{> menuItem regex='recent-updates' route='recent-updates' name='Recent Updates'}}
                {{> menuItem regex='simple-list-item' route='simple-list-item' name='Simple List Item'}}
                {{> menuItem regex='search-container' route='search-container' name='Search Container'}}
                {{> menuItem regex='search-attachments-container' route='search-attachments-container' name='Search Attachments Container'}}                
                {{> menuItem regex='user-about-box' route='user-about-box' name='User About Box'}}
                {{> menuItem regex='user-dashboard' route='user-dashboard' name='User Dashboard'}}
                {{> menuItem regex='user-entry' route='user-entry' name='User Entry'}}
                {{> menuItem regex='projects-working' route='projects-working' name='Projects Working'}}

            </ul>
        </div>
    </nav>
</template>

<template name="menuItem">
    <li class="{{isActiveRoute regex=regex}}">
        <a href="{{pathFor route=route}}">
            <span class="nav-label">{{name}}</span>
        </a>
    </li>
</template>
