<template name="navigation">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <!-- Close canvas menu used only on OffCanvas page -->
            <!-- You can remove this tag if you dont use offCanvas menu -->
            <a class="close-canvas-menu"><i class="fa fa-times"></i></a>
            <!-- End offCanvas menu toggle -->
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Lista de componentes</strong>
                             </span> <span class="text-muted text-xs block">user <b class="caret"></b></span> </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="#">Item 1</a></li>
                            <li><a href="#">Item 2</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Item 3</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>
                {{> menuItem regex='dashboard-stat' route='dashboard-stat' name='Dashboard Stat'}}
                {{> menuItem regex='user-card' route='user-card' name='User Card'}}
                {{> menuItem regex='recent-updates' route='recent-updates' name='Recent Updates'}}
            </ul>
        </div>
    </nav>
</template>

<template name="menuItem">
    <li class="{{isActiveRoute regex=regex}}">
        <a href="{{pathFor route=route}}">
            <span class="nav-label">{{name}}</span>
        </a>
    </li>
</template>
